.label-success {
    color: green;
}

.label-error {
    color: red;
}

.fl-l {
    float: left;
}

.fl-r {
    float: right;
}

header {
    height: 50px;
    background-color: #00a4ffc7;
    line-height: 50px;
}